<div class="flex h-screen sidebar-bg">
  <aside class="transition-all duration-300 flex flex-col {{ isOpen() ? 'w-64' : 'w-18' }}">
    <div  class="flex p-2 sidebar-header {{ isOpen() ? 'justify-end' : 'justify-center' }}">
      <button (click)="toggleSidebar()" class="p-2 flex align-center justify-center cursor-pointer hover:text-white">
        @if (isOpen()) {
          <mat-icon class="sidebar-toggle-icon" aria-label="keyboard_double_arrow_left" fontIcon="keyboard_double_arrow_left"></mat-icon>
        } @else {
          <mat-icon class="sidebar-toggle-icon" aria-label="keyboard_double_arrow_right" fontIcon="keyboard_double_arrow_right"></mat-icon>
        }
      </button>
    </div>

    <nav class="flex flex-col gap-2 px-4 mt-4">
      @for (item of menuItems; track $index) {
        <div class="p-2 sidebar-item flex items-center gap-2" (click)="onItemClick(item)">
          <mat-icon class="sidebar-icon" [fontIcon]="item.icon"></mat-icon>
          @if (isOpen()) {
            <span>{{ item.label }}</span>
          }
        </div>
      }
    </nav>
  </aside>
</div>
