<div class="bg-white rounded-lg shadow-2xl p-6 mt-6">

  <div class="flex justify-between gap-4 mb-4">

    <input type="text" placeholder="Search" [(ngModel)]="filters.search" (keyup)="applyFilter($event)"
      class="h-10 px-3 text-sm rounded-md border border-gray-300  w-64" />

    <div class="flex items-center justify-center gap-2">
      <button  [matMenuTriggerFor]="filterMenu"
        class="h-10 px-4 text-sm rounded-md border text-white border-gray-300 bg-primary hover:bg-gray-100 hover:text-black transition">
        Filter
      </button>

      <button (click)="resetFilters()"
        class="h-10 px-4 text-sm rounded-md border text-white border-gray-300 bg-primary hover:bg-gray-100 hover:text-black transition">
        Reset
      </button>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1 w-full">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef>Mobile</th>
        <td mat-cell *matCellDef="let row">{{row.mobile}}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let row">{{row.category}}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let row">₹ {{row.amount}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">{{row.date}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">{{row.status}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button color="warn" (click)="deleteCustomer(row.id)">
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Paginator -->
  <div class="flex justify-between items-center">
    <div class="text-sm text-gray-600">
      Showing {{ dataSource.filteredData.length }} of {{ dataSource.data.length }} entries
    </div>
    <mat-paginator class="mt-4" [pageSize]="5" [pageSizeOptions]="[5,10,20]"></mat-paginator>
  </div>
</div>

<!-- Custom Filters Panel -->
<mat-menu #filterMenu="matMenu" class="p-4">
  <div class="flex flex-col gap-3 w-64 p-2" (click)="$event.stopPropagation()">
    <mat-form-field appearance="outline" class="custom-select-height">
      <mat-select [(ngModel)]="filters.status" placeholder="Status">
        <mat-option value="Completed">Completed</mat-option>
        <mat-option value="Pending">Pending</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-select-height border-gray-300">
      <mat-select [(ngModel)]="filters.category" placeholder="Category">
        <mat-option value="Travel">Travel</mat-option>
        <mat-option value="Food">Food</mat-option>
        <mat-option value="Shopping">Shopping</mat-option>
      </mat-select>
    </mat-form-field>

    <input type="date" [(ngModel)]="filters.startDate"
      class="h-10 px-3 rounded-md border border-gray-300" />

    <input type="date" [(ngModel)]="filters.endDate"
      class="h-10 px-3 rounded-md border border-gray-300" />
  </div>

  <div>
    <button (click)="applyFilters()"
      class="w-full h-10 mt-2 text-sm rounded-md border text-white border-gray-300 bg-primary hover:bg-gray-100 hover:text-black transition">
      Apply
    </button>
  </div>
</mat-menu>
