<div class="flex flex-wrap gap-6 mt-6">
  @for (indicator of performanceIndicators; track indicator.name) {
    <app-card class="flex-1 min-w-65">
      <mat-icon card-icon class="text-2xl">
        {{ indicator.icon }}
      </mat-icon>

      <div card-header>
        {{ indicator.name }}
      </div>

      <div card-body>
        {{ indicator.value }}
      </div>

      <div
        card-trend
        class="flex items-center gap-1 px-2 py-1 rounded-full text-sm font-semibold"
        [ngClass]="indicator.trend > 0 ? 'bg-green-100 text-green-600' : 'bg-red-100 text-red-600'"
      >
        <mat-icon class="text-start">
          {{ indicator.trend > 0 ? 'arrow_upward' : 'arrow_downward' }}
        </mat-icon>

        {{ indicator.trend | number: '1.2-2' }}%
      </div>
    </app-card>
  }
</div>
