<div class="bg-white rounded-xl shadow-2xl p-6 mt-6">
  <!-- Search and filter section -->
  <div class="flex justify-between items-center gap-4 mb-4">
    <app-table-search
      [class.hidden]="!enableSearch()"
      (searchChange)="onSearch($event)"
    ></app-table-search>

    <div class="flex items-center gap-2">
      <button
        matTooltip="Add New Customer"
        matTooltipPosition="below"
        class="button-primary"
        (click)="openCustomerModal()"
      >
        <mat-icon>person_add</mat-icon>
      </button>

      <app-table-filters
        [class.hidden]="!enableFilters()"
        [filtersConfig]="filtersConfig()"
        (apply)="onApplyFilters($event)"
        (reset)="resetFilters()"
      >
      </app-table-filters>
    </div>
  </div>

  <div class="overflow-x-auto w-full">
    <!-- Data table -->
    <table mat-table [dataSource]="dataSource" matSort>
      @for (column of columns(); track column) {
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-bold">
            {{ column | titlecase }}
          </th>

          <td mat-cell *matCellDef="let row">
            @if (column === 'actions') {
              <button mat-button color="warn" (click)="deleteCustomer(row.id)">Delete</button>
            } @else {
              {{ row[column] }}
            }
          </td>
        </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="columns()"></tr>
      <tr mat-row *matRowDef="let row; columns: columns()"></tr>
    </table>
  </div>

  <!-- Pagination and entry count -->
  <div class="flex justify-between items-center mt-4">
    <div class="text-xs text-gray-600">
      Showing {{ endIndex() }} of {{ dataSource.filteredData.length  }}  entries
    </div>

    @if (enablePagination()) {
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    }
  </div>
</div>
