<!-- App : Key Performance Indicators -->
<app-key-performance-indicator />

<!-- Charts -->
<app-analytics (currentFilter)="setChartFilter($event)"></app-analytics>

<!-- Data Table -->
<app-data-table
  [columns]="displayedColumns"
  [data]="customers"
  [filtersConfig]="filtersConfig"
  [enablePagination]="enablePagination()"
  [enableSorting]="enableSorting()"
  [enableSearch]="enableSearch()"
  [enableFilters]="enableFilters()"
  [chartFilter]="chartFilter()"
  (addNewCustomerEvent)="openCustomerModal()"
>
</app-data-table>
