<div class="flex items-center justify-center gap-2">
  <button [matMenuTriggerFor]="filterMenu" matTooltip="Apply Filters" matTooltipPosition="below" class="button-primary">
    <mat-icon>filter_alt</mat-icon>
  </button>

  <button (click)="resetFilters()" class="button-primary" matTooltip="Clear Filters" matTooltipPosition="below">
    <mat-icon>filter_alt_off</mat-icon>
  </button>
</div>

<mat-menu #filterMenu="matMenu" class="p-4">
  <div class="flex flex-col gap-3 w-64 p-2" (click)="$event.stopPropagation()">
    @for (filter of filtersConfig(); track filter.key) {
    @switch (filter.type) {
    @case ('select') {
    <mat-form-field appearance="outline" class="custom-select-height">
      <mat-select [(ngModel)]="filters[filter.key]" [placeholder]="filter.label">
        @for (option of filter.options; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    }
    @case ('date') {
    <input type="date" [(ngModel)]="filters[filter.key]" class="h-10 px-3 rounded-md border border-gray-300" />
    }
    @case ('text') {
    <input type="text" [(ngModel)]="filters[filter.key]" [placeholder]="filter.label"
      class="h-10 px-3 rounded-md border border-gray-300" />
    }
    }
    }
  </div>

  <button (click)="applyFilters()" class="w-full button-primary">Apply</button>
</mat-menu>
