@import 'tailwindcss';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, 'Helvetica Neue', sans-serif;
}

@theme {
  /* Colors */
  --primary: #e11d48;
  --background: #0a0a0a;
  --muted-foreground: #a3a3a3;
  --muted-background: #262626;
  --color-gray-200: #ebe6e7;

  /* CSS variables */
  --color-primary: var(--primary);
  --color-primary-background: var(--background);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-background-10: var(--muted-background);
  --text-muted-foreground-50: color-mix(in oklab, var(--color-muted-foreground) 50%, transparent);
}

@layer components {
  .sidebar-bg {
    @apply text-white;
    background-color: var(--color-primary-background);
  }

  .sidebar-item {
    @apply flex items-center gap-3 px-4 py-2 rounded-md cursor-pointer transition-colors text-sm font-semibold;

    color: var(--color-muted-foreground);
    mat-icon {
      color: var(--color-white) !important;
    }

    :hover {
      color: var(--color-primary);
    }
  }

  .sidebar-header {
    color: var(--text-muted-foreground-50) !important;
  }

  .sidebar-active {
    @apply font-bold;
    color: var(--color-primary);
  }

  .sidebar-icon {
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
  }

  .sidebar-toggle-icon {
    font-size: 28px !important;
    width: 28px !important;
    height: 28px !important;
  }

  table {
    width: 100%;
  }

  .mat-mdc-row:hover {
    background: #f9fafb;
  }

  .mat-mdc-header-cell {
    font-weight: 700 !important;
    letter-spacing: 0.03em;
  }

  .mat-mdc-select-value {
    font-size: 14px;
  }

  .mat-mdc-select-arrow {
    margin-top: -2px;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  input:focus {
    @apply focus:outline-none;
  }

  .custom-select-height {
    --mat-form-field-container-height: 2.5rem;
    --mat-form-field-container-vertical-padding: 0.5rem;

    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
      top: 50%;
      transform: translateY(-50%);
    }

    &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
      .mat-mdc-floating-label {
      transform: translateY(-1.1em) scale(0.75);
    }

    .mat-mdc-form-field-infix {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  input[type='date'],
  input[type='text'],
  select {
    color: var(--color-black);
  }

  .button-primary {
    @apply h-10 px-4 text-sm rounded-md border cursor-pointer text-white border-gray-300 bg-primary hover:bg-gray-100 hover:text-black transition;
  }

}
