<header class="flex items-center justify-between h-16 px-6 bg-primary-background border-b border-gray-200 shadow-sm">
  <div class="flex items-center gap-4">
    <h1 class="text-lg font-semibold text-white">
      Management Dashboard
    </h1>
  </div>

  <div class="flex items-center gap-5">

    <div class="relative">
      <input type="text" placeholder="Search..."
        class="w-56 px-3 py-1.5 text-sm border rounded-md  bg-white focus:outline-none" />
    </div>

    <button mat-icon-button class="text-yellow-400">
      <mat-icon fontIcon="notifications"></mat-icon>
    </button>

    <div class="flex items-center gap-2 cursor-pointer">
      <div class="w-8 h-8 rounded-full bg-gray-300 flex items-center justify-center">
        <mat-icon aria-label="account_circle" fontIcon="account_circle"></mat-icon>
      </div>

      <span class="text-sm font-medium text-white">
        Aditya
      </span>

    </div>
  </div>
</header>
